<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--数据处理模块注册-->
    <add key="YJBJ" value="COM.TIGER.SYNC.YJBJ.Job,COM.TIGER.SYNC.YJBJ"/>
    <add key="AJJBXX" value="COM.TIGER.SYNC.AJJBXX.Job,COM.TIGER.SYNC.AJJBXX"/>
    <add key="JCJ_JJDB" value="COM.TIGER.SYNC.JCJ_JJDB.Job,COM.TIGER.SYNC.JCJ_JJDB"/>
    <add key="HOTEL" value="COM.TIGER.SYNC.HOTEL.Job,COM.TIGER.SYNC.HOTEL"/>
    <add key="HOTELSTAY" value="COM.TIGER.SYNC.HOTELSTAY.Job,COM.TIGER.SYNC.HOTELSTAY"/>
    <add key="COMPANY" value="COM.TIGER.SYNC.DWJBXX.Job,COM.TIGER.SYNC.DWJBXX"/>
    <add key="EMPLOYEE" value="COM.TIGER.SYNC.DWCYRY.Job,COM.TIGER.SYNC.DWCYRY"/>
    <add key="WGRSQ" value="COM.TIGER.SYNC.WGRSQ.Job,COM.TIGER.SYNC.WGRSQ"/>
    <add key="ZZRK" value="COM.TIGER.SYNC.ZZRK.Job,COM.TIGER.SYNC.ZZRK"/>
    <add key="HJRK" value="COM.TIGER.SYNC.HJRK.Job,COM.TIGER.SYNC.HJRK"/>

    <!--格式:db:数据库类型，服务器地址，数据库名称，登陆账户，登录密码；tables：数据来源表组合，以逗号分隔-->
    <!--时间间隔单位说明：秒-s,分-min,时-h,天-d,月-mon,年-y-->

    <!--目标数据库-->
    <add key="dbTarget" value="sqlserver,10.162.28.61,tongzi_new,sa,tzga110"/>

    <!--需要处理的任务-->
    <add key="dbTask" value="dbPJ,dbYJBJ,dbHOTEL,dbHOTELSTAY,dbAJJBXX,dbJCJ_JJDB"/>

    <!--一键报警数据来源，时间间隔单位：秒（默认30秒）-->
    <add key="dbYJBJ" value="db:sqlserver,10.162.28.52,alarm,sa,1;tables:tbYJBJ;interval:30,s"/>
    <!--数据来源表数据。格式：数据表名称，数据处理模块-->
    <add key="tbYJBJ" value="USRALMHS,YJBJ"/>

    <!--派基系统同步设置，时间间隔单位：天（默认7天）-->
    <add key="dbPJ" value="db:oracle,IRISDB,ald,ald;tables:tbHJRK,tbZZRK,tbWGRSQ,tbCOMPANY,tbEMPLOYEE;interval:3,d"/>

    <!--暂住人口-->
    <add key="tbZZRK" value="iris_bs.vw_zzrk,ZZRK"/>

    <!--境外人口-->
    <add key="tbWGRSQ" value="iris_bs.vw_zy_rk_wgrsq,WGRSQ"/>

    <!--实有人口-->
    <add key="tbHJRK" value="iris_bs.vw_zy_czx_hjrkxx,HJRK"/>

    <!--单位信息-->
    <add key="tbCOMPANY" value="iris_bs.vw_zy_pjx_dwjbxx,COMPANY"/>

    <!--从业人员-->
    <add key="tbEMPLOYEE" value="iris_bs.vw_zy_pjx_dwcyry,EMPLOYEE"/>

    <!--酒店，宾馆，旅店，时间间隔单位：天（默认30天）-->
    <add key="dbHOTEL" value="db:oracle,IRISDB,ald,ald;tables:tbHOTEL;interval:30,d"/>
    <add key="tbHOTEL" value="iris_bs.vw_rk_th_gnlk,HOTEL"/>

    <!--酒店，宾馆，旅店住宿人员，时间间隔单位：天（默认15天）-->
    <add key="dbHOTELSTAY" value="db:oracle,IRISDB,ald,ald;tables:tbHOTELSTAY;interval:15,d"/>
    <add key="tbHOTELSTAY" value="iris_bs.VW_YW_TH_GNLKZS,HOTELSTAY"/>

    <!--案事件，时间间隔单位：天（默认7天）-->
    <add key="dbAJJBXX" value="db:oracle,IRISDB,ald,ald;tables:tbAJJBXX;interval:7,d"/>
    <add key="tbAJJBXX" value="iris_bs.iris_bs.vm_asx_ajjbxxb,AJJBXX"/>

    <!--三台合一，时间间隔单位：秒（默认60秒）-->
    <add key="dbJCJ_JJDB" value="db:oracle,10.162.28.183,1521,TZDB110,sa,tzga110;tables:tbJCJ_JJDB;interval:15,s"/>
    <add key="tbJCJ_JJDB" value="JCJ_JJDB,JCJ_JJDB"/>

    <!--GPS-->

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
